<%-include('head')-%>

    <body>

        <div class="header">
            <div class="logo">
                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="120" height="36" fill="none" role="img">
                        <path fill="#00A264" fill-rule="evenodd"
                            d="M115.399 14.355h4.539c.034 0 .062-.03.062-.067V9.812c-.001-1.094-.363-1.984-1.096-2.606-.674-.572-1.686-.917-3.039-.985-.034-.002-.062.027-.062.063v1.688c0 .033.025.06.056.063 1.187.083 2.09.466 2.09 1.8l-2.55.001c-.034 0-.062.03-.062.067v4.386c0 .036.028.066.062.066Zm-98.18 3.623h-5.504c-.086 0-.141.077-.141.153v2.956c0 .093.07.153.141.153h1.955v2.38c0 1.77-.432 2.72-1.955 2.72-1.272 0-2.175-.771-2.175-3.169V16.26c0-2.296.684-3.372 2.199-3.372 1.366 0 1.923.839 1.923 2.406v.89c0 .093.071.152.142.152h3.384c.086 0 .141-.076.141-.152V15.14c.031-3.718-1.947-5.684-5.527-5.684s-5.912 2.127-5.912 6.6v7.395c0 4.405 2.716 6.32 5.731 6.32 3.376 0 5.731-1.33 5.731-6.252v-5.397a.147.147 0 0 0-.133-.152h-.008.008v.008Zm10.536 7.876h-5.292V9.979c0-.094-.07-.153-.141-.153h-3.33c-.086 0-.14.076-.14.153v19.289c0 .093.07.152.14.152h8.755c.086 0 .141-.076.141-.152v-3.253c0-.093-.07-.153-.141-.153h.008v-.008Zm49.73-9.748c0-4.447 2.284-6.616 5.778-6.616 3.447 0 5.763 2.177 5.747 6.616v7.048c0 4.507-2.143 6.582-5.747 6.582s-5.778-2.033-5.778-6.582v-7.048Zm5.778 10.25c1.46 0 2.065-1.067 2.065-3.337v-6.752c0-2.27-.589-3.371-2.065-3.371s-2.065 1.143-2.065 3.371v6.752c0 2.279.605 3.337 2.065 3.337ZM96.195 9.49c-3.494 0-5.779 2.169-5.779 6.616v7.048c0 4.55 2.175 6.582 5.779 6.582s5.747-2.075 5.747-6.582v-7.048c.016-4.439-2.3-6.616-5.747-6.616ZM98.26 23.02c0 2.27-.605 3.337-2.065 3.337s-2.065-1.059-2.065-3.337v-6.752c0-2.228.589-3.371 2.065-3.371s2.065 1.1 2.065 3.371v6.752ZM65.285 9.82h4.993v.017c3.376 0 5.92 1.855 5.92 6.43v6.718c0 4.532-2.481 6.43-5.96 6.43h-4.953c-.071 0-.142-.06-.142-.153V9.99c0-.085.055-.17.142-.17Zm4.797 16.028c1.507 0 2.45-1.034 2.45-3.448l.007.008v-5.887c0-2.44-.989-3.423-2.489-3.423h-1.374v12.75h1.406ZM47.078 9.456h-.055c-3.439 0-5.252 2.118-5.252 5.295 0 3.307 2.136 4.846 3.898 6.115l.341.247.409.297.001.001.001.001c1.244.9 2.204 1.594 2.204 3.123 0 1.28-.785 1.788-1.696 1.813-1.005.025-1.735-.805-1.735-1.847v-1.686a.191.191 0 0 0-.189-.194h-3.219c-.11 0-.188.084-.188.195v1.71c0 3.38 1.9 5.253 5.245 5.253 3.344 0 5.37-1.915 5.37-5.278 0-3.502-2.074-5.015-3.881-6.335l-.06-.044a42.858 42.858 0 0 0-.596-.428c-1.238-.88-2.388-1.697-2.388-2.969 0-1.262.8-1.855 1.727-1.855.998 0 1.704.771 1.704 1.788v1.49c0 .11.087.195.189.195h3.219c.11 0 .188-.084.188-.194V14.7c.008-3.32-1.994-5.227-5.237-5.244Zm11.563 0h.055c3.243.017 5.237 1.923 5.237 5.244v1.449c0 .11-.078.194-.188.194h-3.22a.191.191 0 0 1-.188-.194v-1.491c0-1.017-.706-1.788-1.704-1.788-.926 0-1.727.593-1.727 1.855 0 1.271 1.15 2.089 2.388 2.969.198.14.398.283.596.428l.06.044c1.808 1.32 3.881 2.833 3.881 6.335 0 3.363-2.026 5.278-5.37 5.278-3.345 0-5.245-1.872-5.245-5.252v-1.712c0-.11.079-.194.188-.194h3.22c.102 0 .188.084.188.195V24.5c0 1.042.73 1.872 1.735 1.847.91-.025 1.696-.534 1.696-1.813 0-1.53-.96-2.223-2.203-3.123-.134-.097-.272-.196-.411-.3l-.338-.244-.003-.002c-1.763-1.269-3.9-2.808-3.9-6.115 0-3.177 1.815-5.295 5.253-5.295Zm55.47 6.398v-1.618c0-2.465-1.9-4.405-4.083-4.405h-6.485c-.078 0-.141.068-.141.152v19.273c0 .084.063.152.141.152h3.172c.086 0 .141-.076.141-.152v-8.023h1.555c1.445 0 1.9.576 1.9 2.042v5.964c0 .093.071.152.141.152h3.274a.153.153 0 0 0 .149-.152v-5.854c0-2-.51-3.279-1.813-3.804 1.311-.576 2.049-1.728 2.049-3.727Zm-3.549.678c0 .804-.597 1.448-1.335 1.448h-2.41v-4.896h2.41c.738 0 1.335.644 1.335 1.44v2.008Zm-77.1-6.701h3.377c.063 0 .125.05.141.127l4.381 19.247c.04.11-.04.212-.141.212h-3.235c-.055 0-.126-.051-.141-.128l-.691-3.447h-4.036l-.69 3.447a.148.148 0 0 1-.142.127H29.05c-.094 0-.165-.101-.141-.211L33.32 9.958a.14.14 0 0 1 .142-.127Zm1.642 6.116-1.335 6.659h2.7l-1.334-6.659-.016.093-.015-.093ZM4.6 9.827H.062c-.034 0-.062.03-.062.066v4.385c0 .037.028.067.062.067h2.55c0 1.335-.903 1.718-2.09 1.801a.061.061 0 0 0-.056.063v1.689c0 .035.029.064.062.062 1.353-.068 2.365-.413 3.039-.985.733-.622 1.095-1.512 1.096-2.606V9.893c0-.037-.028-.067-.062-.067Z"
                            clip-rule="evenodd"></path>
                    </svg></a>
            </div>
            <div class="navmenu">
                <a href="">Community</a>
                <a href="">Jobs</a>
                <a href="">Companies</a>
                <a href="">Salaries</a>
                <a href="">For Employers</a>

            </div>
            <button id="log" type="button" class="btn btn-dark px-3 py-2  " style="font-size: 14px;"><i
                    class="fa-solid fa-arrow-right-from-bracket"></i> Sign Up</button>

        </div>

        <div class="section1">
            <div class="hero1">
                <p>Your work people are here</p>
            </div>
            <div class="hero2">
                <img src="https://i.postimg.cc/0jzvtxC4/ex1.png" alt="">
                <div class="login">
                    <div class="disclaimer">
                        <p>Create an account or sign in. By continuing, you agree to our Terms of Use and acknowledge
                            our Privacy Policy.</p>
                    </div>
                    <div  id="login-form">

                        <form action="/route/login" method="POST">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label"
                                    style="font-size: 12px; font-weight: 600;">Email address</label>
                                <input type="email" class="form-control" name="email" required>
                                <div id="emailHelp" class="form-text" style="font-size: 12px;">We'll never share your
                                    email with anyone else.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label"
                                    style="font-size: 12px; font-weight: 600;">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>

                            <button id="submitbtn" type="submit" class="btn btn-light form-control ">Submit</button>
                        </form>
                     
                        <div id="invalid">
                            <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
                                <p class="text-center " style="color: red; font-size: 15px" id="errorMessage"><%= errorMessage %></p>
                            <% } %>
                        </div>
                
                     
                        <div id="logout-success">
                            <% if (locals.logout) { %>
                                <p class="text-center " style="color:rgb(0, 162, 100); font-size: 15px;" id="logoutMessage"><%= locals.logout %></p>
                            <% } %>
                        </div>
                          



                      

                    </div>

                </div>
                <img src="https://i.postimg.cc/mZ9BFZtc/ex2.png" alt="">

            </div>
        </div>

        <div class="section2">
            <div class="section2-title">
                <p>Get ahead with Glassdoor</p>
            </div>
            <div class="section2-title2">
                <p>We're serving up trusted insights and anonymous conversation, so you'll have the goods you need to
                    succeed.</p>
            </div>
            <div class="icons-section">
                <div class="logos">
                    <svg width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="32.609" cy="32.206" r="31.25" stroke="#000" stroke-width="1.5"></circle>
                        <path
                            d="M23.234 42.475h-1.333c-.134 0-.134 0-.134-.133V30.875c0-.133 0-.133.134-.133h4.266v-1.467h-4.266c-.934 0-1.6.667-1.6 1.6v11.467c0 .933.666 1.6 1.6 1.6h1.333v-1.467ZM37.905 42.34c0 .133 0 .133-.133.133h-11.6v1.467c0 .8-.667 1.467-1.467 1.467h-1.467v1.467h1.467c1.6 0 2.933-1.2 2.933-2.8v-.134h10.267c.933 0 1.6-.666 1.6-1.6v-7.2h-1.467v7.2h-.133ZM45.1 17.54H29.232c-.934 0-1.6.667-1.6 1.6v11.467c0 .934.666 1.6 1.6 1.6h10.133c0 1.6 1.2 2.934 2.8 2.934h1.467v-1.467h-1.467a1.48 1.48 0 0 1-1.466-1.467v-1.466H29.233c-.134 0-.134 0-.134-.134V19.141c0-.134 0-.134.134-.134h15.866c.134 0 .134 0 .134.133v11.467c0 .134 0 .134-.133.134h-1.334v1.466H45.1c.933 0 1.6-.666 1.6-1.6V19.141c0-.934-.667-1.6-1.6-1.6Z"
                            fill="#000"></path>
                    </svg>
                    <p>Join your work community</p>

                </div>
                <div class="logos">
                    <svg width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="32.609" cy="32.206" r="31.25" stroke="#000" stroke-width="1.5"></circle>
                        <path
                            d="M41.086 19.963h-4.613v-1.585c0-1.73-1.441-3.171-3.171-3.171-1.73 0-3.171 1.441-3.171 3.17v3.172h10.955c.144 0 .144.144.144.144v23.64c0 .144-.144.144-.144.144H25.23c-.144 0-.144-.144-.144-.144v-23.64c0-.144.144-.144.144-.144h3.17v-1.442h-3.17c-1.01 0-1.73.721-1.73 1.73v23.64c0 1.009.72 1.73 1.73 1.73H40.94c1.01 0 1.73-.721 1.73-1.73V21.693c0-.865-.72-1.73-1.585-1.73Zm-9.514-1.585a1.6 1.6 0 0 1 1.586-1.586 1.6 1.6 0 0 1 1.585 1.586v1.585h-3.315v-1.585h.144Z"
                            fill="#000"></path>
                        <path
                            d="M26.816 37.55h12.685V23.278H26.816v14.27Zm11.1-12.83v11.244h-9.514V24.72h9.514ZM34.888 39.277h-8.216v1.585h8.216v-1.585ZM39.645 42.45H26.672v1.586h12.973v-1.585Z"
                            fill="#000"></path>
                    </svg>
                    <p>Find and apply to jobs</p>

                </div>
                <div class="logos">
                    <svg width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="32.609" cy="32.206" r="31.25" stroke="#000" stroke-width="1.5"></circle>
                        <path
                            d="M34.163 43.939v-4.4h-5.866v4.4h1.466v-2.934h2.934v2.934h1.466ZM40.835 27.806c.4 0 .8.267.8.8v15.467H43.1v-15.6c0-1.2-.933-2.134-2.133-2.134h-.8v1.467h.667Z"
                            fill="#000"></path>
                        <path
                            d="M25.365 19.672c0-.4.267-.8.8-.8h10.267c.4 0 .8.267.8.8v24.133h1.466V19.672c0-1.2-.933-2.133-2.133-2.133h-10.4c-1.2 0-2.267.933-2.267 2.133v24.267h1.467V19.672Z"
                            fill="#000"></path>
                        <path
                            d="M35.633 21.937h-2.934v1.467h2.934v-1.467ZM29.77 21.937h-2.934v1.467h2.933v-1.467ZM29.77 26.34h-2.934v1.466h2.933v-1.467ZM29.77 30.738h-2.934v1.467h2.933v-1.467ZM29.77 35.138h-2.934v1.467h2.933v-1.467ZM35.633 26.34h-2.934v1.466h2.934v-1.467ZM35.633 30.738h-2.934v1.467h2.934v-1.467ZM35.633 35.138h-2.934v1.467h2.934v-1.467ZM45.232 45.406H21.766v1.466h23.466v-1.466Z"
                            fill="#000"></path>
                    </svg>
                    <p>Search company reviews</p>

                </div>
                <div class="logos">
                    <svg width="66" height="65" viewBox="0 0 66 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="32.609" cy="32.206" r="31.25" stroke="#000" stroke-width="1.5"></circle>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="m45.5 26.954-.132.019a2.333 2.333 0 0 1-2.617-2.767h2.083c.366 0 .666.299.666.667v2.08Zm0 6.505H45.5a4.081 4.081 0 0 0-4.081 4.08H25.58a4.08 4.08 0 0 0-4.08-4.08v-5.172a4.081 4.081 0 0 0 4.08-4.081h15.838a4.081 4.081 0 0 0 4.081 4.081h.001v5.172Zm0 3.414c0 .369-.3.666-.666.666H42.75a2.752 2.752 0 0 1 2.748-2.746h.001v2.08Zm-23.333.666a.666.666 0 0 1-.667-.666v-2.08a2.751 2.751 0 0 1 2.747 2.746h-2.08ZM21.5 24.873c0-.368.299-.667.667-.667h2.08a2.75 2.75 0 0 1-2.747 2.748v-2.081Zm23.932-2H21.567c-.772 0-1.4.628-1.4 1.4V37.474a1.4 1.4 0 0 0 1.4 1.399H45.432c.772 0 1.402-.627 1.402-1.4v-13.2c0-.772-.63-1.4-1.402-1.4Zm-11.963 10.7a2.67 2.67 0 0 1-2.667-2.667 2.67 2.67 0 0 1 2.667-2.667 2.67 2.67 0 0 1 2.667 2.667 2.67 2.67 0 0 1-2.667 2.666Zm0-6.667a4 4 0 1 0 0 8 4 4 0 0 0 0-8ZM33.5 41.54h-9.333a1.333 1.333 0 0 1-1.333-1.333h21.333c0 .736-.597 1.333-1.333 1.333H33.5Z"
                            fill="#000"></path>
                    </svg>
                    <p>Compare salaries</p>

                </div>
            </div>
        </div>





        <%-include('footer')-%>


    </body>

    </html>