<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=locals.title?title:"Login system"%></title>
    <script src="/script.js"></script>
    <link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAYFBMVEX////6/fz0+/nP7eKi3Maz4tDm9u/w+faX2L4mrXdCuIlxyqfM7OALqXAAomQAomUysn+/6NhewpwRp23x+vfe8+uA0LGH0rXq9/JkxaB4zKzG6dtbwppUvpWR1rwqrnrgCEfJAAAAuElEQVR4AdWSRQKDMBAAieCwG8Xl/69sYW/4rTIQn3iC/4Sx4BYuZCiiGylO0jTLC34jlACokkuDa6PsYgh2ZTDnqxSwbra1PCYcY9w5nQG20UZokpbo+r5r2yFFGP1G8MYSSkq1JAi4F0aElVTKFBa+ItAiSVCWMFuhmYZhyHAR+nwgpmZ3wvFygBbmkLmY2N4FGXoEyIrgAteNJYLd3MCGKEWAcvTsUlClGqW/eWmJ7L17eKv/yxtxARCAKFQjKwAAAABJRU5ErkJggg==" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/style.css">
</head>